.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 80px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    display: flex;
    font-size: 24px;
    color: var(--black);
}

